*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100% ;
    height: 100vh;
}
.container .clock{
    position: relative;
    top: 53px;
    left: 531px;
    width: 200px;
    height: 200px;
    border: 5px solid purple;
    border-radius: 50%;
}
.container .clock::after{
    content: "";
    position: absolute;
    background-color: purple;
    border: 3px solid purple;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    left: 86px;
    top: 86px;
}
.clock li{
    list-style: none;
}
#hours{
    width: 100%;
    height: 100%;
    transform: rotate(120dec);
    position: absolute;
}
#hours::after{
    content: "";
    width: 45px;
    position: absolute;
    border: 3px solid black;
    top: 91px;
    left: calc(50% + 5px);
}
#mins{
    width: 100%;
    height: 100%;
    position: absolute;
    animation: clockmoves 3600s steps(60,end) infinite;
}
#mins::after{
    content: "";
    width: 80px;
    height: 3px;
    position: absolute;
    background: black;
    left: calc(50% + 1px);
    top: 93px;
}
#sec{
    width: 100%;
    height: 100%;
    position: absolute;
    animation: clockmoves 60s steps(60,end) infinite;
}
#sec::after{
    content: "";
    width: 2px;
    height: 78px;
    border-radius: 2px;
    background: black;
    position: absolute;
    left: calc(50% - 1px);
    top: 86px;
}
/*create the animation*/
@keyframes clockmoves{
    to{
        transform: rotate(360deg);
    }
} 